@font-face {
    font-family: "ComicNeue Angular";
    src: url(comicneue_angular/regular.otf);
}
@font-face {
    font-family: "ComicNeue Angular";
    src: url(comicneue_angular/bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: "ComicNeue Angular";
    src: url(comicneue_angular/italic.otf);
    font-style: oblique;
}
@font-face {
    font-family: "ComicNeue Angular";
    src: url(comicneue_angular/bold_italic.otf);
    font-weight: 700;
    font-style: oblique;
}
@font-face {
    font-family: "ComicNeue Angular";
    src: url(comicneue_angular/light.otf);
    font-weight: 300;
}
@font-face {
    font-family: "ComicNeue Angular";
    src: url(comicneue_angular/light_italic.otf);
    font-weight: 300;
    font-style: oblique;
}